*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100%;
    width: 100%;
}

.main{
    min-height: 100vh;
    width: 100vw;
    background: #0f0f0f;
}

.nav{
    background: #00000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.35px solid #1A1A1A;
    border-radius: 10px;
    padding: 25px 8%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navbar a{
    padding: 10px 20px;
    background: #0f0f0f;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
    transition: all 0.5s ease-in;
}

.navbar a:hover{
    background: #1A1A1A;
}

.more{
    padding: 0 20px;
}

.more h3{
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border: 0.8px solid #fff;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 700;
    transition: all 0.5s ease-in;
}

.more h3:hover{
    background: #fff;
    color: #000;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 8vw;
    padding: 0 20px;
    /* background: url(images/679137836ae5beeac6f7e098_67a3539e25d4ffdd8c776750_2449452_Abstract_Background_1920x1080-transcode.mp4); */
}

.hero h1{
    font-size: 4.5vw;
    text-align: center;
    line-height: 4.2vw;
    padding: 20px 5px;
    color: #666666;
    font-weight: 600;
}

.hero h1 span{
    color: #fff;
}

.hero p{
    font-size: 1.2vw;
    color: #939393;
    text-align: center;
    padding: 20px 0;
}

.hero .more-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    padding: 20px 10px;
}

.hero .more-buttons h3{
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border: 0.8px solid #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.5s ease-in;
}

.hero .more-buttons h3:nth-child(1){
    background: #fff;
    color: #000;
}

.hero .more-buttons h3:hover{
    background: #fff;
    color: #000;
}

.hero .more-buttons h3:nth-child(1):hover{
    background: #000;
    color: #fff;
}

.marquee-container{
    width: 80vw;
    margin: 10% 10%;
    background-image: url(images/marqueebg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5vw;
    border-radius: 5%;
    overflow: hidden;
}

marquee{
    margin-bottom: 5vw;
    display: flex;
}

marquee img{
    width: 35vw;
    height: 20vw;
    padding-right: 5vw;
}

.footer{
    margin-top: 10vw;
    width: 100%;
}

.footer-text1{
    background-image: url(images/footerbg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.footer-text1 img{
    width: 12vw;
    padding: 3vw 0;
}

.footer-text1 h1{
    color: #fff;
    font-size: 4.5vw;
    font-weight: 400;
    margin-bottom: 2vw;
}

.footer-text1 p{
    font-size: 1.2vw;
    width: 50vw;
    text-align: center;
    color: #8e8e8e;
    margin-bottom: 2vw;
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    padding: 20px 10px;
}

.buttons-container h3{
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border: 0.8px solid #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.1s ease-in;
}

.buttons-container h3:nth-child(1){
    background: #fff;
    color: #000;
}

.buttons-container h3:hover{
    background: #fff;
    color: #000;
}

.buttons-container h3:nth-child(1):hover{
    background: #000;
    color: #fff;
}

.footer-text2{
    width: 100%;
    padding: 1.5vw 0;
    text-align: center;
    font-size: 1.2vw;
    color: #fff;
    border-top: 0.2px solid #8e8e8e;
}

.footer-text2 span{
    color: #8e8e8e;
}

.features{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2vw;
}

.features .title{
    color: #fff;
    text-transform: capitalize;
}

.features .desc{
    color: #fff;
    text-transform: capitalize;
    font-size: 4vw;
}

.feature-container{
    display: flex;
    margin: 5vw;
    gap: 5vw;
}

.feature{
    display: flex;
    min-width: 40vw;
    height: 60vh;
    border-radius: 30px;
    border: 0.1px solid #8e8e8e;
    overflow: hidden;
}

.feature .feature-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw 3vw;
}

.feature .feature-text .feature-heading{
    color: #fff;
    font-size: 2.5vw;
    font-weight: 600;
    text-transform: capitalize;
}

.feature .feature-text .feature-desc{
    color: #939393;
    font-size: 1vw;
    font-weight: 300;
    text-transform: capitalize;
}

.feature-image{
    width: 50%;
    height: 60vh;
    border-radius: 30px;
    overflow: hidden;
    background-image: url(images/feature1.jpg);
    background-size: cover;
    background-position: center;
}

.home-pages{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2vw;
}

.home-pages .title{
    color: #fff;
    text-transform: capitalize;
}

.home-pages .desc{
    color: #fff;
    text-transform: capitalize;
    font-size: 4vw;
}

.page-container{
    display: flex;
    margin: 5vw;
    gap: 5vw;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    min-width: 40vw;
    height: 60vh;
    border-radius: 30px;
    border: 0.1px solid #8e8e8e;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    transition: all 0.8s ease-in;
}

.page .img{
    width: 100%;
    height: 85%;
    margin-bottom: 2vw;
    overflow: hidden;
    border-radius: 2%;
}

.img img{
    width: 100%;
    height: 100%;
}

.page h1{
    text-transform: uppercase;
    font-size: 1.5vw;
}

.page:hover{
    background: #fff;
    color: #000;
}

.page:hover img{
    transform: scale(1.05);
}